.body_style {
    background-image: url("images/ps_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.my-bg{
    background-color: #0e3d5d;
}

.navbar a {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.navbar a:hover {
    background-color: rgb(66, 95, 146);
    border-radius: 0.4rem;
}

.nav-link.active {
    background-color: rgb(49, 78, 126);
}

.custom_links a {
    color: #71c2f9;
}

.custom_links a:hover {
    background-color: #3e7ea9;
    color: #71c2f9;
}

.my-btn{
    background-color: rgb(47, 100, 147);
    padding: 0.1rem;
}

.footer_container {
    font-size: 10px;
}

table,
th,
td {
    border: 0.2rem solid rgb(40, 160, 204);
    text-align: center;
    font-weight: bold;
    background-color: rgba(40, 160, 204, 0.1);  
}

.row {
    display: flex;
}

.left-section {
    flex: 0 0 30%;
    max-width: 30%;
}

.right-section {
    flex: 0 0 70%;
    max-width: 70%;
    margin-left: 3%;
    margin-right: 3%;
}

#poster {
    width: 100%;
}

.responsive-video {
    margin-top: 1rem;
    width: 100%;
}

.form-control{
    width: 50%;
}
